/forntend/vscode
/forntend/code/node_modules
/forntend/code/build
/forntend/code/.vscode
/forntend/code/package-lock.json

/backend/vscode
/backend/code/build
/backend/code/.gradle
backend/code/booster.log

